.mainbody {
    width: 1600px;
    height: 800px;
    background-color: rgb(255, 238, 225);
    overflow: hidden;
    margin: auto;
}

.sidebar1 {
    width: 400px;
    height: 800px;
    background-color: rgb(255, 219, 219);
}

.sidebar1 ul {
    float: right;
    list-style: none;
    margin: 0px;
}

.sidebar1 ul li {
    float: left;
    margin: 0 10px;
    display: block;
}

.sidebar2 {
    width: 400px;
    height: 800px;
    background-color: rgb(255, 142, 142);
    position: relative;
    left: 700px;
    top: -2000px;
}